/.DS_Store
/Makefile
/Zyzzyva.app
/bin/
/src/Makefile*
/src/libzyzzyva/Makefile*
/src/libzyzzyva/*.o
/src/libzyzzyva/moc_*
/src/libzyzzyva/object_script.zyzzyva.Debug
/src/libzyzzyva/object_script.zyzzyva.Release
/src/tests/Makefile*
/src/tests/*.moc
/src/tests/*.o
/src/zyzzyva/Makefile*
/src/zyzzyva/*.o
/installer/windows/
/installer/windows-no-sse2/
/installer/linux*
/src/*/build/
/src/*/debug/
/src/*/release/
/src/build-libzyzzyva-Manual_Desktop_Qt_5_5_0_MinGW_32bit-Debug/
/src/build-libzyzzyva-Manual_Desktop_Qt_5_5_0_MinGW_32bit-Release/
*.pro.user*
*.bak
